@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .bg-newspapers {
    background-image: url('/photos/newspapers.png');
    background-size: cover;
  }
  .bg-publications {
    background-image: url('/photos/publications.png');
    background-size: cover;
  }
  .bg-students {
    background-image: url('/photos/students.png');
    background-size: cover;
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: white;
}

/* * {
  border: 1px solid red;
}

div {
  border: 1px solid blue;
} */

h1 {
  font-family: "nocturne-serif", serif;
  font-weight: 800;
  font-size: 2em;
}

h2 {
  font-family: "nocturne-serif", serif;
  font-weight: 400;
  font-style: italic;
  font-size: 2em;
}

h3 {
  font-family: "nocturne-serif", serif;
  font-weight: 700;
  font-size: 1em;
}

h5 {
  font-family: "nocturne-serif", serif;
  font-weight: 400;
  font-variant: small-caps;
  font-size: 1em;
}

p {
  font-family: "nocturne-serif", serif;
  font-weight: 400;
  font-size: 0.8em;
  color: rgb(36, 36, 36);
}

@media only screen and (min-width: 600px) {
  p {
    font-size: 1em;
  }
}

li {
  font-family: "nocturne-serif", serif;
  font-weight: 400;
  font-style: italic;
  font-size: 1em;
  list-style-type: disc;
}

button {
  background-color: #aa1e22;
  width: fit-content;
  padding: 1em;
  padding-top: 0.8em;
  padding-bottom: 0.8em;
  border-radius: 1em;
  box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.3);

  font-family: "nocturne-serif", serif;
  font-weight: 400;
  font-size: 1em;
  color: white;
}

button:active {
  box-shadow: inset 2px 3px 3px rgba(0, 0, 0, 0.3);
}

.text-white-outline {
  text-align: right;
  -webkit-text-stroke-width: 0.8px;
  -webkit-text-stroke-color: #FFF;
  -webkit-text-fill-color: transparent;
  font-family: "Nocturne Serif";
  font-size: 2em;
  font-style: normal;
  font-weight: 600;
  font-variant: all-small-caps;
  color: transparent;
  padding-left: 0.5em;
  padding-bottom: 0.23em;
  padding-top: 0.08em;
  background-image: url('/svg-assets/chestnut-banner.svg');
  background-size: cover;
}

.futures-banner {
  padding-left: 5em;
  padding-bottom: 3em;
  padding-top: 3em;
  background-image: url('/svg-assets/arrow-banner.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: 100%;
}

.dp-red {
  color: #aa1e22;
}

.bg-dp-red {
  background-color: #aa1e22;
}

.bg-dp-blue {
  background-color: #0d4882;
}

.bg-main-scene {
  background: radial-gradient(176.79% 98.06% at 10.53% 6.72%, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%), url('/photos/main-scene.jpg') lightgray 50% / cover no-repeat;
  background-size: cover;
  background-position: bottom;
  bottom: 0;
  right: 0;
}

.bg-futures {
  background: radial-gradient(176.79% 98.06% at 10.53% 6.72%, rgba(0, 0, 0, 0.00) 0%, #000 100%), url('/photos/futures-bg.png') lightgray 50% / cover no-repeat;
  background-size: cover;
  background-position: top;
}

.bg-panel {
  background-image: url('/svg-assets/plan-giving-panel.svg');
  background-size: cover;
  background-position: top;
}

.metallic-button {
  position: relative;
  display: inline-block;
  background: linear-gradient(145deg, #aa1e22, #791518);
  border: none;
  cursor: pointer;
  overflow: hidden;
}

.metallic-button:hover {
  transform: scale(1.05);
}

.metallic-button::before {
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(30deg, transparent, rgba(255, 255, 255, 0.5), transparent);
  transform: rotate(30deg);
  animation: shine 2s infinite;
}

@keyframes shine {
  0% {
      transform: rotate(30deg) translateX(-200%);
  }
  100% {
      transform: rotate(30deg) translateX(200%);
  }
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.embla {
  overflow: hidden;
  width: 100%;
}

.embla__container {
  display: flex;
}

.embla__slide {
  position: relative;
  flex: 0 0 auto;
}

.embla-small-slide {
  width: 20em;
  min-width: 5em; 
  height: 14em;
}

/* cover animations */
.fade-in {
  animation: fade-in 1s ease-out;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateX(-20%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}